
.box {
    border: 10px solid lightblue ;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 40px;
    width: fit-content;
}

h2 {
    text-align: center;
    padding: 40px 30px;
    height: 10px;
    width: 50%;
    background-image: url(https://mdn.github.io/shared-assets/images/examples/star.png),
    url(https://mdn.github.io/shared-assets/images/examples/star.png);
    background-position: left center, top right;
    background-repeat: no-repeat, repeat-y;
}