.wrapper {
    display: flex;
}

.box {
    width: 500px;
    height: 80px;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 20px;
}

.box {
    background-image: url(https://mdn.github.io/shared-assets/images/examples/star.png),
    url(https://mdn.github.io/shared-assets/images/examples/big-star.png);
    background-repeat: repeat-y, no-repeat;
    background-position: left, right;
    background-attachment: scroll;
}
