# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/HmtlCssChallenge.iml

# IntelliJ IDEA specific files
/mis.xml
/modules.xml
/project_default.xml
/vcs.xml
/misc.xml
/inspectionProfiles/Project_Default.xml
/codeStyles/codeStyleConfig.xml
/git_toolbox_blame.xml
/codeStyles/Project.xml
